*,
html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.0;
  letter-spacing: 2.0;
  /* color: #5a5a5a; */
}

.navbrand {
  color: #fff;
  font-size: 30px;
  font-family: 'Sacramento',
    cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(41, 2, 5) 0%, rgb(7, 0, 2) 100%);
  margin: 0;
}

.nav-section {
  width: 100%;
}

.promotion {
  background: linear-gradient(90deg, rgb(248, 245, 246) 0%, rgb(255, 246, 246) 100%);
  color: #E36397;
  width: 100%;
  display: flex;
  justify-content: center;

}

.subscribe-link a {
  padding: 0 10px;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  font-size: 18px;
  color: #E36397;
  /* width: 100%; */
  margin: auto;
}

.subscribe-icon {
  padding-right: 5px;
  font-size: 20px;
  /* color: #000; */
  animation: 'subscribe-icon' 1s ease-in-out infinite alternate;
}

@keyframes subscribe-icon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #670a2c, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #440a27, 0 0 40px #9d2853, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


.promotion a {
  /* text-decoration: none; */
  font-size: 14px;

}

.promotion a:hover {
  cursor: pointer;
  color: #0d0046;
}

.toggle-button {
  outline: none;
  border: none;
}

.toggle-button span {
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
}



.subscribe {
  /* background: #a7892a; */
  height: 100%;

}

.sign-up:hover {
  opacity: 0.8;
}

.home {
  background: #EFF2EF;
}

h2 {
  /* font-size: 20px; */
  text-transform: uppercase;
}

.banner {
  height: auto;
  width: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url("/public/new-image.jpeg");
  height: 100%;
  min-height: 417px;
  width: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner p {
  color: #fff;
}

/* .banner {
  padding: 5px 10px;
  margin: auto;
  text-align: center;
  height: 100%;
  justify-content: center;

} */

.about-description {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  font-size: 11px;
}

.about-left {
  width: 48%;
  text-align: justify;
}

.about-right {
  width: 48%;
  margin: 0 auto;
}

.about h5 {
  text-align: left;
}

.project-button {
  background: #BC8DA7;
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
}

.project-button:hover {
  background: #E36397;
}

.works {
  margin-top: 20px;
  background: inherit;
}

.projects-heading {
  /* background: inherit; */
  margin: auto;
  /* border-bottom: 2px solid #E36397; */
  padding: 15px;
  text-align: center;
  /* margin-top: 20px; */
}

.works .span {
  margin: auto;
  /* border-bottom: 2px solid #E36397; */
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.project-preview {
  width: 49%;
  text-align: center;
  margin: 5px 0.5%;
  bottom: 0;
  background-color: inherit;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  object-fit: fill;
  align-items: center;
  padding: 2px 0;
  display: flex;
  flex-direction: column;

}

.project-image {
  width: 100%;
  height: 100%;
}

.main-content {
  padding: 0;
}

.about {
  padding: 20px 10px;
  background-color: #D9D9D9;
}

.contact-form {
  font-size: 14px;
  padding: 10px 50px;
  margin: 0 50px;
}



.inputs {
  background: #BDB4BF;
  padding: 8px 10px;
  font-size: 11px;
}

.footer {
  font-size: 11px;
}

.background {
  background-color: #BC8DA7;
  border: 2px solid black;
}

.icon-bar {
  /* opacity: 0.6; */
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 6px;
  transition: all 0.3s ease;
  color: white;
  font-size: 14px;
  /* opacity: 2.0; */
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.bi-facebook {
  color: #3B5998;

  /* color: white; */
}

.bi-twitter {
  color: #55ACEE;
  /* color: white; */
}



.bi-linkedin {
  color: #007bb5;
  /* color: white; */
}

.bi-github {
  background: #fff;
  color: black;
}

@media screen and (max-width:550px) {
  .project-preview {
    width: 100%;
  }

  .contact {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact-form {
    width: 100%;
    margin: 0;
  }

  .about-right {
    display: none;
  }

  .about-left {
    width: 90%;
    margin: auto;
    justify-content: center;
  }



}